{% extends "includes/base.html" %}
{% block title %}Parola Sifirlama{% endblock %}

{% block body %} 
  
  <!--Password Reset Complete-->
  <div class="container p-5 mt-5" style="margin-bottom: 300px;">
	    <h2 class="font-weight-bold mt-3">Şifre Başarıyla Sıfırlandı</h2>
		<hr>
        <p>Şifre başarıyla sıfırlanmıştır. Şimdi giriş yapabilirsiniz.</p>                 
        <a style="margin-top:5px" href="{% url 'comment:login'%}" class="btn btn-primary">Giriş Yap</a>
    </div>

{% endblock %}