{% extends 'includes/base.html' %}
{% block title %}Parola Sifirlama{% endblock %}


{% block body %}

	<!--Password reset sent-->
	<div class="container p-5 mt-5" style="margin-bottom: 300px;">
  	<h2 class="font-weight-bold mt-3">E-Posta Gönderildi</h2>
		<hr>
		<p>Parolanızı sıfırlamanız için size bir e-posta gönderdik, içerisinde bulunan bağlantı adresini kullanarak yeni bir parola oluşturabilirsiniz<br>Eğer e-posta gelmedi ise, spam klasörünü kontrol ediniz ve doğru e-posta adresini girdiğinizden emin olun</p>
	</div>

{% endblock %}