<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">		
		<link href="https://fonts.googleapis.com/css?family=Istok+Web" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700" rel="stylesheet">
		<link rel="stylesheet" href="{% static '/css/magnific-popup.css' %}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css" />
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap" rel="stylesheet" />

		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	</head>

	<body>
		<!-- Wrapper -->
		{% include 'messages.html' %}

		<section class="head" id="header">
			<div class="wrapper">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<header class="header">
								<div class="inner">
									<!-- Logo -->
									<a href="#menu"class="nav-bars">
										<img src="{% static 'images/nav_icon.svg' %}" class="img-responsive" alt="Collapsable Navbar">
									</a>
									<a href="{% url 'comment:home'%}" class="logo">
										<span class="symbol"><img src="{% static 'images/logo.png' %}" alt="Title" /></span><span class="title">Hocani Notla</span>
									</a>
								</div>
								
								<!-- LOGIN REGISTER BUTTONS-->
									{% if user.is_authenticated %}
									<a class="nav-link" href="#">Welcome, {{user.username}}</a>
												<a href="{% url 'comment:logout'%}">Cikis Yap</a>	
									{% else %}
									<div style="display:flex;">
										
													<a href="{% url 'comment:login'%}">Giris</a>&nbsp;	
												
										
													<a href="{% url 'comment:register'%}">Kayit Ol</a>	

									</div>
									{% endif %}
							</header>
							<!-- Menu -->
							<nav id="menu">
								<h2>Menu</h2>
								<ul>
									<li><a href="{% url 'comment:home'%}">Anasayfa</a></li>
									<li><a href="{% url 'comment:uni'%}">Hocani Ara</a></li>									
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Main -->

		<section class="main-body">
			<div class="container">
				{% block body %}
				{% endblock %}
            </div>
		</section>

		
		<section class="social-contact-icon">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-xs-12">
						<ul class="text-center social-contact">
							<li class="social-icons">
							<a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a>
							</li>
							<li class="social-icons">
								<a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a>
							</li>
							<li class="social-icons">
								<a href="#" class="icon style2 fa-google-plus"><span class="label">GooglePlus</span></a>
							</li>
							<li class="social-icons">
								<a href="#" class="icon style2 fa-pinterest"><span class="label">pinterest</span></a>
							</li>
							<li class="social-icons">
								<a href="#" class="icon style2 fa-stumbleupon"><span class="label">Stumbleupon</span></a>
							</li>
							<li class="social-icons">
								<a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a>
							</li>
						</ul>							
					</div>
				</div>
			</div>
		</section>

		<section class="footer">		
			<footer>
				<div class="container">
					<div class="row">
						<div class="col-sm-8 col-xs-9">
							<p class="right-color">&copy; Copyright 2022. All rights reserved by <a href="#" target="_blank">HocaniNotla</a></p>
						</div>
						<div class="col-sm-4 col-xs-3" align="right">
							<a href="#" id="back-to-top" class="top text-right" >Yukari Cik <i class="fa fa-angle-up" aria-hidden="true"></i> </a>
						</div>
					</div>
				</div>											
			</footer>
		</section>

	<!-- Scripts -->

		<script src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
		

		<script src="{% static 'js/script.js' %}"></script>

		<!--  ===== Scroll to Top ====  -->
	    <script>
			if ($('#back-to-top').length) {
			    $('#back-to-top').on('click', function (e) {
			        e.preventDefault();
			        $('html,body').animate({
			            scrollTop: 0
			        }, 700);
			    });
			}
		</script>
		
	</body>
</html>