{% extends 'includes/base.html' %}
{% block title %}Hesap Ayarlari{% endblock %}
{% block body %}
{% load static %}


<section class="ud-page-banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="ud-banner-content">
            <h1>Hesap Ayarları</h1>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="ud-login">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="ud-login-wrapper">
           <ul>
               <li><a href="#">sifre</a></li>
           </ul>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
