{% extends 'includes/base.html' %}
{% block title %}Hesap Ayarlari{% endblock %}
{% block body %}
{% load static %}


<section class="ud-page-banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="ud-banner-content">
            <h1>Hesap Ayarları</h1>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="ud-login">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="ud-login-wrapper">
               <h4>Merhaba {{user.username}}</h4>
               <BR>
               <ul class="ud-404-links">
                 <li>
                   <a href="#">Yorumlarim</a>
                 </li>
                 <li>
                  <a href="{% url 'comment:changepassword'%}">Şifre Değiştir</a>
                 </li>
                 <li>
                  <a href="{% url 'comment:logout'%}">Çıkış Yap</a>
                 </li>
               </ul>
           </ul>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
