{% extends 'includes/base.html' %}
{% block title %}Hocani Ekle{% endblock %}
{% block body %}

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
            <div class="sonuclar" style="margin-bottom: 350px; margin-top:150px; text-align:center;">
                <h3>Çok Yakında</h3>
                <p style="margin-top: 10px;">Bu özellik en kısa sürede eklenecktir.</p>
                <a style="margin-top:10px;" href="{% url 'comment:home' %}">Ana Sayfa'ya git</a>
            </div>
      </div>
    </div>
  </div>

{% endblock %}
