{% extends 'includes/base.html' %}
{% block title %}{{ doctor.doctor_name }}{% endblock %}
{% block body %}
        <div style="
	text-align: center;
	margin-bottom: 30px;
        ">
                <h1>{{doctor.doctor_name}} - {{ av_rates }}</h1>
                <img src="/media/{{ doctor.doctor_pp }}" alt="doc" width="320px" height="380px" class = "doc-pp">
                <p>{{doctor.doctor_bio}}</p>
        </div>
        <div style="margin-top: 50px;">
                <h1 style="margin-bottom: 30px;">Yorumlar</h1>
                {% if user.is_authenticated %}
                        <button type="button"><a href="{% url 'comment:createcomment' doctor.id%}">Yorum Ekle</a></button>

                {% else %}
                        <p>Yorum yapmak icin <a href="/login">Giris</a> yapiniz</p>
                {% endif %}
                
                <!-- deneme-->
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                
                <!-- TUM YANITLARI GORME SCRIPTI-->
                <script>
                        $(function() {
                                $(".comment-box").each(function(index) {
                                  $(this).children(".user-comment-box").slice(-2).show();
                                });
                              
                                $(".see-more").click(function(e) {
                                  e.preventDefault();
                                  var $link = $(this);
                                  var $div = $link.closest('.comment-box');
                              
                                  if ($link.hasClass('visible')) {
                                    $link.text('+ Tum yanitlari goster');
                                    $div.children(".user-comment-box").slice(0, -2).slideUp()
                                  } else {
                                    $link.text('- Yorumlari gizle');
                                    $div.children(".user-comment-box").slideDown();
                                  }
                              
                                  $link.toggleClass('visible');
                                });
                              });
                </script>
                <style>
                        .user-comment-box {
                                display: none;
                          }
                </style>
                <!-- end script and style BU ARADA BUNU ALABILIYORSAN GIT ADAM GIBI STATICE AL-->

                <Br>
                <Br>
                1.0 --> {{ rates1 }} <br>
                2.0 --> {{ rates2 }} <Br>
                3.0 --> {{ rates3 }} <Br>
                4.0 --> {{ rates4 }} <br>
                5.0 --> {{ rates5 }} <br>

                {% for comment in doctor.comment_set.all  %}
                        <h4 style="margin-top: 50px;">{{comment.comment_author}} - {{comment.rate}}</h4>      
                        <p>{{ comment.comment_body }}</p>
                        <a href="{% url 'comment:commentanswer' doctor.id comment.id%}">yanitla</a>
                        <!-- start answers -->
                        <div style="margin-top:15px;">
                                <div class="comment-box-container">
                                        <div class="comment-box">
                                                {% if ct_recomments > 2 %}
                                                <a href="#" class="see-more" style="margin-left:10px;"> + Tum yanitlari goster</a>
                                                {% else %}
                                                {% endif %}
                                                {% for re_comment in comment.commentanswer_set.all %}
                                                        <div class="user-comment-box">
                                                                <p class='commentanswer'><strong>{{re_comment.answer_author}}</strong> - {{ re_comment.answer_body }}</p>
                                                        </div>
                                                {% endfor %}      
                                        </div>
                                </div>
            
                        </div>      
                        <!-- end answers --> 
                {% endfor %}
        </div>
{% endblock %}
