{% extends 'includes/base.html' %}
{% block title %}{{ doctor.doctor_name }}{% endblock %}
{% block body %}
        <div style="
	text-align: center;
	margin-bottom: 30px;
        ">
                <h1>{{doctor.doctor_name}}</h1>
                <img src="/media/{{ doctor.doctor_pp }}" alt="doc" width="320px" height="380px" class = "doc-pp">
                <p>{{doctor.doctor_bio}}</p>
        </div>        
        <div style="margin-top: 50px;">
                <h1 style="margin-bottom: 30px;">Yorumlar</h1>
                {% if user.is_authenticated %}
                        <button type="button"><a href="{% url 'comment:createcomment' %}">Yorum Ekle</a></button>

                {% else %}
                        <p>Yorum yapmak icin <a href="/login">Giris</a> yapiniz</p>
                {% endif %}

                {% for comment in doctor.comment_set.all  %}
                        <h4 style="margin-top: 50px;">{{comment.comment_author}} - {{comment.rate}}</h4>      
                        <p>{{ comment.comment_body }}</p>
                        <a href="#">yanitla</a>
                {% endfor %}
        </div>
{% endblock %}
