{% extends 'includes/base.html' %}
{% load static %}
{% block title %}{{ doctor.doctor_name }}{% endblock %}
{% block body %}
        <style>
                .total-rates{
                        width: 250px;
                        height: 50px;
                }
        </style>
        <div style="
	text-align: center;
	margin-bottom: 30px;
        ">
                <h1>{{doctor.doctor_name}} - {{ av_rates }} <img src="{% static '/images/just-star.jpg/'%}" width="30px" height="35px" alt=""></h1>
                <img src="/media/{{ doctor.doctor_pp }}" alt="doc" width="320px" height="380px" class = "doc-pp">
                <p>{{doctor.doctor_bio}}</p>
        </div>
        <div style="margin-top: 50px;">
                <h1 style="margin-bottom: 30px;">Yorumlar ({{ all_comments }}) </h1>
                {% if user.is_authenticated %}
                        <button type="button"><a href="{% url 'comment:createcomment' doctor.id%}">Yorum Ekle</a></button>

                {% else %}
                        <p>Yorum yapmak icin <a href="/login">Giris</a> yapiniz</p>
                {% endif %}
                
                <!-- deneme-->
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                
                <!-- TUM YANITLARI GORME SCRIPTI-->
                <script>
                        $(function() {
                                $(".comment-box").each(function(index) {
                                  $(this).children(".user-comment-box").slice(-2).show();
                                });
                              
                                $(".see-more").click(function(e) {
                                  e.preventDefault();
                                  var $link = $(this);
                                  var $div = $link.closest('.comment-box');
                              
                                  if ($link.hasClass('visible')) {
                                    $link.text('+ Tum yanitlari goster');
                                    $div.children(".user-comment-box").slice(0, -2).slideUp()
                                  } else {
                                    $link.text('- Yorumlari gizle');
                                    $div.children(".user-comment-box").slideDown();
                                  }
                              
                                  $link.toggleClass('visible');
                                });
                              });
                </script>
                <style>
                        .user-comment-box {
                                display: none;
                          }
                </style>
                <!-- end script and style BU ARADA BUNU ALABILIYORSAN GIT ADAM GIBI STATICE AL-->
                
                <Br>
                <Br>
                <img src="{% static '/images/total-rates-stars/5-star.jpg'%}" class="total-rates" alt="">&nbsp; &nbsp; <strong>{{ rates5 }}</strong> <br>
                <img src="{% static '/images/total-rates-stars/4-star.jpg'%}" class="total-rates" alt="">&nbsp; &nbsp;  <strong>{{ rates4 }}</strong> <br>
                <img src="{% static '/images/total-rates-stars/3-star.jpg'%}" class="total-rates" alt="">&nbsp; &nbsp;  <strong>{{ rates3 }}</strong> <br>
                <img src="{% static '/images/total-rates-stars/2-star.jpg'%}" class="total-rates" alt="">&nbsp; &nbsp;  <strong>{{ rates2 }}</strong> <br>
                <img src="{% static '/images/total-rates-stars/1-star.jpg'%}" class="total-rates" alt="">&nbsp; &nbsp;  <strong>{{ rates1 }}</strong> <br>

                {% for comment in doctor.comment_set.all  %}
                        <div  style="margin-top: 50px;">
                                <h4>{% if comment.anonymous == True %} 
                                        Anonim
                                    {% else %}
                                        {{comment.comment_author}}
                                    {% endif %} - {{comment.rate}} <img src="{% static '/images/just-star.jpg/'%}" width="16px" height="20px" alt=""></h4>      
                                <p>{{ comment.comment_body }}</p>
                                <a href="{% url 'comment:commentanswer' doctor.id comment.id%}">yanitla</a>
                                        
                                <!-- like a comment -->
                                <form action="{% url 'comment:likecomment' doctor.id comment.id%}" method="post">
                                        {% csrf_token %}
                                        <button type="submit", name="comment_id", value="{{ comment.id }}", class="btn btn-primary btn-sm">Like</button> - {{ comment.total_likes }} 
                                </form>



                                <!-- start answers -->
                                <div style="margin-top:15px;">
                                        <div class="comment-box-container">
                                                <div class="comment-box">
                                                        <a href="#" class="see-more" style="margin-left:10px;"> + Tum yanitlari goster</a>
                                                        {% for re_comment in comment.commentanswer_set.all %}
                                                                <div class="user-comment-box">
                                                                        <p class='commentanswer'><strong>{{re_comment.answer_author}}</strong> - {{ re_comment.answer_body }}</p>
                                                                </div>
                                                        {% endfor %}      
                                                </div>
                                        </div>
                                </div>
                        </div>      
                        <!-- end answers --> 
                        {% endfor %}
                </div>
{% endblock %}
