{% extends 'includes/base.html' %}
{% block title %}Hesap Ayarlari{% endblock %}
{% block body %}
{% load static %}


<section class="ud-page-banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="ud-banner-content">
            <h1>Bize Ulaş</h1>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="ud-login">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="ud-login-wrapper">
            <div class="ud-info-icon">
              <i class="lni lni-envelope"></i>
            </div>
            <div class="ud-info-meta">
              <h5 style="margin-bottom: 5px; margin-top:10px;">E-posta Adresimiz</h5>
              <p>hocaninotla@gmail.com</p>
            </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}
