{% extends 'includes/base.html' %}
{% load static %}
{% block title %}Anasayfa{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-9">
        <p class="drescription">Hosgeldin! Asagidan universitene tiklayarak, hocana <span class="orange">not verip, yorum yapabilirsin</span> :) . Yorum yapabilmek icin uye olmalisin. Universiteni ve hocani alttaki arama motorundan aratabilirsin. </p>
    </div>
</div>
<div class="tiles">
    <div class="row">
        <div style="text-align: center;">
            <form action="{% url 'comment:searchbar' %}" method="get" class="form-inline">
                <input type="text" name="search" class="form-control mr-sm-2" placeholder="Ara" aria-label="Search">
                <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Ara</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="a">
                <a href="#" class="open-popup-link">
                    <!-- img dimensions = 953 x 668 px-->
                    <img src="{% static 'images/odtu.jpg' %}" class="img-responsive" alt="Responsive image">
                    <div class="img-hover glass">
                        <div class="c-table">
                            <div class="ct-cell">
                                <h3 class="img-title">ODTU</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="a">
                <a href="#" class="open-popup-link">
                    <img src="{% static 'images/itu.jpg' %}" class="img-responsive" alt="Responsive image">
                    <div class="img-hover shoes-glass">
                        <div class="c-table">
                            <div class="ct-cell">
                                <h3 class="img-title">ITU</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-4">
            <div class="a">
                <a href="#" class="open-popup-link">
                    <img src="{% static 'images/itu.jpg' %}" class="img-responsive" alt="Responsive image">
                    <div class="img-hover hand-parts">
                        <div class="c-table">
                            <div class="ct-cell">
                                <h3 class="img-title">Hacettepe Üni</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="a">
                <a href="#" class="open-popup-link">
                    <img src="{% static 'images/itu.jpg' %}" class="img-responsive" alt="Responsive image">
                    <div class="img-hover hand-parts">
                        <div class="c-table">
                            <div class="ct-cell">
                                <h3 class="img-title">Ankara Üni</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="a">
                <a href="#" class="open-popup-link">
                    <img src="{% static 'images/itu.jpg' %}" class="img-responsive" alt="Responsive image">
                    <div class="img-hover hand-parts">
                        <div class="c-table">
                            <div class="ct-cell">
                                <h3 class="img-title">Bogazici Üni</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="a">
                <a href="#" class="open-popup-link">
                    <img src="{% static 'images/itu.jpg' %}" class="img-responsive" alt="Responsive image">
                    <div class="img-hover hand-parts">
                        <div class="c-table">
                            <div class="ct-cell">
                                <h3 class="img-title">Karabuk Üni</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="a">
                <a href="#" class="open-popup-link">
                    <img src="{% static 'images/itu.jpg' %}" class="img-responsive" alt="Responsive image">
                    <div class="img-hover hand-parts">
                        <div class="c-table">
                            <div class="ct-cell">
                                <h3 class="img-title">Marmara Üni</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="a">
                <a href="#" class="open-popup-link">
                    <img src="{% static 'images/itu.jpg' %}" class="img-responsive" alt="Responsive image">
                    <div class="img-hover hand-parts">
                        <div class="c-table">
                            <div class="ct-cell">
                                <h3 class="img-title">İstanbul Üni</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div style="text-align: center; margin-top: 30px;">
        <a href="{% url 'comment:uni' %}"><button type="button" class="btn btn-light">Tum Universiteler</button></a>
    </div>
</div>
{% endblock %}