{% extends 'includes/base.html' %}
{% load static %}
{% block title %}Anasayfa{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-9">
        <p class="drescription">Hosgeldin! Asagidan universitene tiklayarak, hocana <span class="orange">not verip, yorum yapabilirsin</span> :) . Yorum yapabilmek icin uye olmalisin. Universiteni ve hocani alttaki arama motorundan aratabilirsin. </p>
    </div>
</div>
<div class="tiles">
    <div class="row">
        <div class="search-button" style="text-align: center;">
            <form action="{% url 'comment:searchbar' %}" method="get" class="form-inline">
                <input type="text" name="search" class="form-control mr-sm-2" placeholder="Ara" aria-label="Search">
                <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Ara</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}