
{% if messages %}
    {% for message in messages %}
    <div class="product-options">

    <div id="success-alert" {% if message.tags %} class="{{ message.tags }}"{% endif %}>
      &nbsp; {{ message }}
    </div>

    </div>
    {% endfor %}
{% endif %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script>
$(document).ready(function() {
  $("#success-alert").hide();
    $("#success-alert").fadeTo(2300, 500).slideUp(500, function() {
      $("#success-alert").slideUp(500);
  });
});
</script>