{% extends 'includes/base.html' %}
{% block title %}Arama Sonuclari{% endblock %}
{% block body %}

{{ error }}

{% if post2 %} 
<section class="ud-404" style="margin-bottom: 300px;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
            <!-- Doctor search -->
                        <h5 class="sonuclar">({{ all_results }}) sonuç bulundu</h5>
            {% for i in post2 %}
          <div class="ud-404-wrapper" style="margin-top: 30px; max-width:650px;">
            <a href="{% url 'comment:comment' i.id %}">
            <div class="ud-404-content">
                <div style="display:flex; margin-bottom:5px;">
                    <h1 class="rate-number" style="font-size: 35px; font-weight:850;">{{ i.doctor_av_rate }}</h1>
                    <h3 class="divisor-number" style="font-size: 15px;">/ 5</h3>
                </div>
              <h2 class="ud-404-title" style="color: #3056d3">{{ i.doctor_name }}</h2>
              <p style="margin-top: -25px; margin-bottom:25px; color:rgb(131, 131, 131)">({{i.doctor_total_rate}}) değerlendirme</p>
              <h5 class="ud-404-subtitle">
                {{i.depart.faculty.uni.uni_name}} - {{i.doctor_lecture}}
              </h5>
            </div>
            </a>
          </div>
          {% endfor %} 
          <div class="sonuclar" style="margin-top:120px; text-align:center;">
            <h4>Hocanı Bulamadın mı?</h4>
            <p style="margin-top: 10px;">(Kendin ekleyebilirsin)</p>
            {% if user.is_authenticated %}
              <a style="margin-top:20px; font-size:20px;" href="{% url  'comment:adddoctor' %}"><button class="ud-main-btn w-100">Kendin Ekle</button></a>
            {% else %}
              <a style="margin-top:20px; font-size:20px;" href="{% url  'comment:login' %}"><button class="ud-main-btn w-100">Kendin Ekle</button></a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}

  {% if not post2 %} <!-- if doesnt any matched -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
            <div class="sonuclar" style="margin-bottom: 350px; margin-top:150px; text-align:center;">
                <h3>Bulamadık &nbsp;:(</h3>
                <p style="margin-top: 10px;">(Sanırım yakında eklenecektir.)</p>
                {% if user.is_authenticated %}
                  <a style="margin-top:30px; font-size:20px;" href="{% url  'comment:adddoctor' %}"><button class="ud-main-btn w-100">Kendin Ekle</button></a>
                {% else %}
                  <a style="margin-top:30px; font-size:20px;" href="{% url  'comment:login' %}"><button class="ud-main-btn w-100">Kendin Ekle</button></a>
                {% endif %}
            </div>
      </div>
    </div>
  </div>
  {% endif %}

{% endblock %}
